@font-face {
  font-family: amazing-kids;
  src: url('./assets/fonts/Amazing-Kids.ttf');
}

h1 {
  font-family: "amazing-kids";
  font-size: 4rem;
  font-weight: 400;
  font-size: 47px;
  line-height: 82px;
  text-transform: capitalize;
}

p {
  font-family: "Satoshi";
  font-weight: 500;
  font-size: 1rem;
  line-height: 26px;
  text-transform: capitalize;
}
